body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.User-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 120px;
  box-sizing: border-box;
}

.sign-in-container button {
  margin: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  transition: scale 0.4s;
}

.sign-in-container button:hover {
  border: 1px solid white;
  scale: 1.1;
}

.sign-in-container img {
  height: 100%;
}

.sign-in-container h1,
p {
  font-family: "Poppins", serif;
  color: white;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e0e0e0;
}

.clerk-user-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.clerk-user-button:hover {
  color: #e0e0e0;
}

@media (max-width: 1000px) {
  .Logo {
    display: none;
  }
}
@media (max-width: 1000px) {
  .sign-in-container {
    padding: 0px 20px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid white;
  width: 80%;
  max-width: 500px;
  position: relative;
  z-index: 1001;
}

.close-modal-btn {
  color: white;

  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.open-modal-btn {
  background-color: black;
  color: white;
  border: 1px solid white;

  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
